*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navigation nav ul{
	background: #fefefe;
	text-align: center;
	display: flex;
	justify-content: space-around;
	padding: 21px;
	box-shadow: -2px -2px 11px 0px rgba(134, 168, 241, 0.711);
 
}
.navigation nav ul li{
	text-decoration: none;
	list-style-type: none;
}
.navigation nav ul li a{
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	transition:1s ease-in-out;

}
.navigation nav ul li a:hover{
	text-decoration: none;
	font-size: 18px;
	border-bottom: solid 2px blue;
	transition:1s ease-in-out;
}
.services .card1{
	margin: 11px 111px;
	width: 40%;
	height:499px;
    box-shadow: 0px 4px 7px 0px #292c29;
font-size: 21px;
text-align: center;
line-height: 42px;
}
.services h2{
	text-align: center;
color: blue;
}
.services{
	display: flex;
}
.card2{
	margin: 11px 111px;
	width: 40%;
	height:499px;
    box-shadow: 0px 4px 7px 0px #292c29;
font-size: 21px;
text-align: center;
line-height: 42px;
line-height:50px;

}
.new_flex{
	display: flex;
}